@charset "utf-8";

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: normal;
  src: url('../../resources/fonts/NotoSansKR/NotoSansKR-Regular.otf');
}
@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: bold;
  src: url('../../resources/fonts/NotoSansKR/NotoSansKR-Bold.otf');
}
@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 200;
  src: url('../../resources/fonts/NotoSansKR/NotoSansKR-Light.otf');
}
